<nav class="navbar navbar-expand-lg navbar-light bg-light ps-4">
  <div class="navbar" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="#">Foods</a>
        </li>
        <li class="nav-item">
          <%= link_to "Public Recipes", recipes_path(@user, @recipes),class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Recipes", recipes_path(current_user), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shopping List</a>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else%>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
        </li>
      <%end%>
    </ul>
  </div>
  <div>
    <% if current_user.present? %>
      <strong><%= 'User Name: ' %></strong>
      <%= current_user.name %>
    <% end %>
  </div>
</nav>
